[Unit]
Description=welle-cli - décodage multiplex DAB+
After=multi-user.target

[Service]
Type=simple
User=admindl
Restart=always
RestartSec=10
ExecStart=/bin/bash -c '/_INA_DL/welle-cli/rec.sh /_INA_DL/welle-cli/conf/captation.ini autostart >> /_INA_DL/welle-cli/welle-cli.log 2>&1'

[Install]
WantedBy=multi-user.target