[Unit]
Description=welle-cli DAB + mux %I
After=multi-user.target

[Service]
Type=simple
User=admindl
Restart=always
RestartSec=10
ExecStart=/bin/bash -c '/_INA_DL/welle-cli/stream.sh %i >> /_INA_DL/welle-cli/log/welle-cli-%i.log 2>&1'

[Install]
WantedBy=multi-user.target
